{% extends 'base.html' %}

{% block body %}


  <h1>Dashboard</h1>

  <div class="inner-content" >
    <div class="cards" style="background: #28439d;">
      <div class="card">
        <h4>Year Groups</h4>
        <h2>Alumni - 2022</h2>
      </div>
      <div class="card-image">

      </div>
      
    </div>
    <div class="cards" style="background: #992621;">
      <div class="card">
        <h4>Year Groups</h4>
        <h2>Alumni - 2021</h2>
      </div>
      <div class="card-image">

      </div>
      
    </div>
    <div class="cards" style="background: #ffa000;">
      <div class="card">
        <h4>Year Groups</h4>
        <h2>Alumni - 2020</h2>
      </div>
      <div class="card-image">

      </div>
      
    </div>
  </div>

  
  


{% endblock body %}